* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.container:before, .container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid:before, .container-fluid:after {
  content: '';
  display: table;
}

.container-fluid:after {
  clear: both;
}